footer 
  .row 
    .col-md-12
      nav.nav.footer.justify-content-center
        a.nav-link(href="/travels/national") NATIONAL
        a.nav-link(href="/travels/international") International
        a.nav-link(href="/testimonials") TESTIMONIALS 
    .col-md-12
      p.coypright.text-center
        | &copy; All rights Reserved 
        span 2021