footer 
  .row 
    .col-md-12
      nav.nav-menu-footer 
        ul
          li
            a(href="/travels/national") National
          li
            a(href="/travels/international") International
          li
            a(href="/travels/testimonials") Testimonials
    .col-md-12
      p.coypright.text-center
        | &copy; All rights Reserved 
        span 2021