header 
  .navigation 
    .container-fluid.w-100
      .row
        .col-12.col-lg-10.d-flex.justify-content-center.p-0.header.mx-auto
          a(href="/" class='logo-container')
            img(class='logo' src="/assets/img/logo_transparent.png", alt="logo company" loading="lazy" )
      .row.nav-menu
        .col-12.col-lg-10.p-0.m-auto
          nav.nav.m-auto
            ul.d-flex.justify-content-around.p-0.m-0.col-12.col-lg-10.m-auto
              li
                a.nav-link(href="/") Home
              li
                a.nav-link Trips
                ul.nav-travels-menu.m-0.p-0
                  li
                    a.nav-link(href="/travels/national") National
                  li
                    a.nav-link(href="/travels/international") International
              li
                a.nav-link(href="/travels/testimonials") Testimonial
              li
                a.nav-link(href="/about-us") About us 
