header 
  .navigation 
    .container-fluid.w-100
      .row
        .col-12.d-flex.justify-content-center.p-0.header
          a(href="/" class='logo-container')
            img(class='logo' src="/assets/img/logo_transparent.png", alt="logo company" )
      .row.nav-menu
        .col-12.p-0
          nav.nav.w-100
            ul.d-flex.justify-content-around.p-0.w-100.m-0
              li
                a.nav-link(href="/") Home
              li
                a.nav-link Trips
                ul.nav-travels-menu.m-0.p-0
                  li
                    a.nav-link(href="/travels/national") National
                  li
                    a.nav-link(href="/travels/international") International
              li
                a.nav-link(href="/travels/testimonials") Testimonial
              li
                a.nav-link(href="/about-us") About us 
