
#carouselExampleCaptions.carousel.slide(data-ride='carousel' data-interval="4000")
  ol.carousel-indicators
    li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
    li(data-target='#carouselExampleCaptions' data-slide-to='1')
    li(data-target='#carouselExampleCaptions' data-slide-to='2')
    li(data-target='#carouselExampleCaptions' data-slide-to='3')
    li(data-target='#carouselExampleCaptions' data-slide-to='4')
  .carousel-inner
    .carousel-item.item1.active
      .carousel-caption.slider-container
          h1 Iztaccihuatl, Mexico
          em in Backpacking Adventure
          a.slide_button(href="#") See trip 
    .carousel-item.item2
      .carousel-caption.slider-container
        h1 Paris, France
        em in Backpacking Adventure
        a.slide_button(href="#") See trip 
    .carousel-item.item3
      .carousel-caption.slider-container
        h1 Uttar Pradesh, India.
        em in Backpacking Adventure
        a.slide_button(href="#") See trip 
    .carousel-item.item4
      .carousel-caption.slider-container
        h1 Chichén Itzá, Yucatán, Mexico
        em in Backpacking Adventure
        a.slide_button(href="#") See trip 
    .carousel-item.item5
      .carousel-caption.slider-container
        h1 Oslo, Norway
        em in Backpacking Adventure
        a.slide_button(href="#") See trip 