.d-flex.justify-content-around.position-absolute.networks
  <i class="far fa-envelope social" title='email'></i>
  <i class="fab fa-whatsapp social" title='whatsapp'></i>
  <i class="fab fa-facebook social" title='facebook'></i>
  <i class="fab fa-instagram social" title='instagram'></i>