extends ../layout/layout

block content
  main.container.mt-5
    .row.mb-5
      .col-md-4.offset-md-1.text-center
        img(src="/assets/img/about.jpg", alt="About us",  class='img-fluid about-img mb-3 ')
      .col-md-6.offset-md-2.d-flex.justify-content-center.flex-column.m-0
        h3.mb-3 #{page}
        p.p_about We are a 100% Mexican tour operator, concerned about the environment. We take care of all kinds of excursions with an ecotourism approach, we like people to know the most beautiful places in our beloved Mexico and the World.
    .row.mb-5
      .col-md-4.offset-md-1.text-center
        img(src="/assets/img/mission.jpg", alt="About us",  class='img-fluid about-img mb-3')
      .col-md-6.offset-md-2.d-flex.justify-content-center.flex-column.m-0
        h3.mb-3 Mission
        p.p_about Make travel a new experience, where fun and conviviality go hand in hand with responsible attitudes aimed at sustainability. We want to achieve harmony with the environment by promoting the practice of true ecotourism and ensuring that it is accessible to any type of person.
    .row.mb-5
      .col-md-4.offset-md-1.text-center
        img(src="/assets/img/logo.png", width='250' height='250' alt="About us",  class='img-fluid about-img mb-3')
      .col-md-6.offset-md-2.d-flex.justify-content-center.flex-column.m-0
        h3.mb-3 Vision
        p.p_about To be a responsible company in the tourism field, position ourselves in the market as a reliable company that provides quality services, always thinking about the needs of our clients.

    .row.mb-5.d-flex.justify-content-around.flex-wrap
      .col-lg-3.offset-md-1.text-md-center
        <i class="fas fa-shield-alt mb-4 icon"></i>
        h3.mb-4.text-center Safety
        p.p_about-details Safety is the most important thing on a trip for which we have high standards of safety and care for the prevention of sars-cov-2 (covid -19)
      .col-lg-3.offset-md-1.text-md-center
        <i class="fas fa-plane-departure mb-4 icon"></i>
        h3.mb-4.text-center Best destinations
        p.p_about-details The experience as travelers supports us for which we assure and certify that the trips we choose are the best.
      .col-lg-3.offset-md-1.text-md-center
        <i class="fas fa-tags mb-4 icon"></i>
        h3.mb-4.text-center The Best Prices
        p.p_about-details We know that traveling is not cheap but with us backpacking style, you will enjoy more with less money compared to other trips.
    h3.text-center.mb-3 Contact us
    .row.mb-5 
      .col-12
        .position-relative.social-section
          include ../layout/socialNetwork