extends ../layout/layout 


block slider 
  include ../layout/slider

block content 
  main.container.mt-5 
    .row.mb-5 
      .col-12
        p.text-intro Enjoy, learn and explore our amazing trips in different places of the world and in the amazing and beautiful landscapes that we have in Mexico. 
          small.text-writter - Backpacking Adventure
    h3.text-center.d-block.mb-3 Our guides
    .row.mb-5 
      .col-sm-12.col-md-6.col-lg-6
        .guideN.d-flex.p-3
          img.guide.mx-3(src="/assets/img/p1.jpg", alt="")    
          p We will discover the oldest places in Europe and I will tell you amazing stories about them. 
            small.text-writter - Pablov Olsen
      .col-sm-12.col-md-6.col-lg-6
        .guideN.d-flex.p-3
          img.guide.mx-3(src="/assets/img/p2w.jpg", alt="")    
          p Together with me you will know the best places to eat delicious and very cheap and we will do recreational activities every weekend.
            small.text-writter - Erika Müller
      .col-sm-12.col-md-6.col-lg-6
        .guideN.d-flex.p-3
          img.guide.mx-3(src="/assets/img/p3w.jpg", alt="")    
          p I will guide you from start to finish with the travel procedures (passport, visa, permits, flights, covid security, etc.) so that you do not worry about anything and just enjoy your trip.
            small.text-writter - Irina Ivvanov
      .col-sm-12.col-md-6.col-lg-6
        .guideN.d-flex.p-3
          img.guide.mx-3(src="/assets/img/p4.jpg", alt="")    
          p We will go to the events of the season and some clubs and bars for those who like to party.
            small.text-writter - Johansen Davis
    .row.mb-5 
      .col-12
        p.text-intro.text-center.font-italic "The journey of a thousand miles begins with a single step." 
    .row.mb-5
      .col-12.p-0
        .discount 
          .container 
            .row 
              .col-md-6 
                .contents 
                  p 10% OFF
                  p.title Travel to Rivera Maya 
                  p.date June 20th of 2022 - July 10th of 2022
                  p.price $ 1 ,500 USD
    h3.text-center.mb-3 Testimonials
    .row.mb-5 
      .col-8.offset-2
          include ../layout/testimonial_block

    